@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Varela Round", sans-serif;
  color: white;
  background-color: #10121b;
}

.App {
  padding: 0 20rem;
}

h1 {
  font-size: 3rem;
}

span {
  color: #037fff;
}

.title {
  padding: 5rem 0;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 200;
}

h2:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #037fff;
}

p {
  color: rgbs(255, 255, 255, 0.747);
}

.menu-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.menu-item-container {
  width: 100%;
  padding: 1.5rem 1.4rem;
  background-color: #19202e;
}

.menu-item > img {
  width: 100%;

}
