@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Varela Round", sans-serif;
  color: white;
  background-color: #10121b;
  font-size: 1.2rem;
}

.App {
  padding: 0 20rem;
}

h1 {
  font-size: 3rem;
}

span {
  color: #037fff;
}

.title {
  padding: 5rem 0;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 200;
  margin: 1rem 0;
}

h2:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #037fff;
}

p {
  color: rgbs(255, 255, 255, 0.596);
}

.menu-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  padding-bottom: 6rem;
}

.menu-item-container {
  width: 100%;
  padding: 1.2rem 1.2rem;
  background-color: #19202e;
}

.menu-item {
  overflow: hidden;
}

.menu-item > img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.menu-item > img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.button-buttons {
  width: 70%;
  margin: 3rem auto;
  text-align: center;
}

.button-btn {
  padding: 0.5rem 2rem;
  background-color: #0c3564;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: white;
  transition: all 0.4s cubic-bezier(1, -0.16, 0.6, 1.35);
}

.button-btn:not(:last-child) {
  margin-right: 1rem;
}

.button-btn:hover {
  background-color: #037fff;
  cursor: pointer;
}

.button-btn:active, .button-btn:focus {
outline: none;
}